* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

span {
    color: #3266D7;
}

body {
    font-family: Arial, sans-serif;
    background-color: #2C2C2C;
    color: #FFFFFF;
}

header {
    padding: 40px;
}

header>.interface {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

header a {
    color: #fff;
    text-decoration: none;
    display: inline-block;
    transition: .2s;
}

header nav.menu-desktop a:hover {
    color: #fff;
    transform: scale(1.05);
}

header nav ul {
    list-style-type: none;
}

header nav.menu-desktop ul li {
    display: inline-block;
    padding: 0 30px;
    font-size: 18px;
}

.btn-conta button {
    color: #FFFFFF;
    padding: 13px 65px;
    font-size: 17px;
    font-weight: 100;
    background-color: #3266D7;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    transition: .2s;
}

button:hover,
form .btn-enviar input:hover {
    box-shadow: 0px 0px 8px #3266D7;
    transform: scale(1.05);
}

.logo img {
    width: 35%;
    height: 100%;
    mix-blend-mode: lighten;
}

/*HEAFER-FIM*/

main{
    display: flex;
    justify-content: center; 
}

#sec-esquerda {
    width: 35%;
    padding: 30px; 
}


#sec-direita{
    width: 50%;
    padding: 40px;
}

#img-perfil {
    width: 80%;
    height: auto;
    background-color: #fff;
    margin: 30px 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    margin: 0 auto;
}

#img-perfil img {
    width: 100%;
    height: 280px;
    object-fit: cover;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.mudar-img {
    width: 100%;
    height: 50px;
    background-color: rgba(50, 102, 215, 0.5);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
    font-size: 14px;
    color: #FFFFFF
}

.mudar-img label {
    cursor: pointer;
}

.mudar-img i {
    font-size: 18px;
    color: #FFFFFF;
}

/* PRIORIDADE */

.container-p{
    width: 100%;
    padding: 30px 30px;
    margin-bottom: 30px;
}

.container-p p{
    padding: 10px 5px;
}

.button-p{
    display: flex;
    gap: 7px;
    justify-content: center;
}

.button-p button{
    border: 1px solid rgb(255, 255, 255, 0.05);
    border-radius: 30px;
    background-color: #2C2C2C;
    color: rgb(255, 255, 255, 0.5);
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    box-shadow: 4px 4px 4px rgb(0, 0, 0, 0.2);
    font-size: 15px;
}

.button-p button:hover{
    background-color: #ffffff0e;
    box-shadow: 0px 0px 8px rgb(255, 255, 255, 0.05);
    transform: scale(1.05);
}

/* PRIORIDADE - FIM*/

#btn-metas{
    display: flex;
    justify-content: center;
}

#btn-metas button{
    border: none;
    border-radius: 15px;
    background-color: #3266D7;
    color: #FFFFFF;
    width: 270px;
    height: 50px;
    font-size: 15px;
}

/* IPUTS NOMES */

#inputs{
    margin-bottom: 20px;
}

.input-group {
    position: relative;
    padding: 20px 0;
}

.input {
    border: solid 1.5px rgb(255, 255, 255, 0.08);
    border-radius: 30px;
    background: none;
    padding: 1.5rem;
    font-size: 1.2rem;
    color: #f5f5f5;
    transition: border 150ms cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: 4px 4px 4px rgb(0, 0, 0, 0.2);
    width: 100%; 
}

.user-label {
    position: absolute;
    left: 15px;
    color: rgb(255, 255, 255, 0.4);
    pointer-events: none;
    transform: translateY(1.5rem);
    transition: 150ms cubic-bezier(0.4, 0, 0.2, 1);
    background-color: #2C2C2C;
    padding: 0 0.25rem;
    font-size: 1rem;
}

.input:focus, .input:valid {
    outline: none;
    border: 1.5px solid #3266D7;
}

.input:focus~.user-label,
.input:valid~.user-label {
    transform: translateY(-50%) scale(0.8);
    background-color: #2C2C2C;
    padding: 0 0.25rem;
    color: #3266D7;
    left: 10px;
}

/*INPUTS NOMES - FIM*/

#sec-arquivos{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
}

.img-arquivos{
    width: 160px;
    height: 150px;
    background-color: #FFFFFF;
    border-radius: 8px;
}

/* INPUTS - ARQUIVOS */

.inputs-arquivos{
    width: 80%;
}

.input-container {
    position: relative;
    display: flex;
    align-items: center;
    margin: 20px 0;
}


.input-container input {
    padding: 30px 10px 10px 0px;
    background: none;
    border: none;
    border-bottom: 2px solid rgb(255, 255, 255, 0.4);
    font-size: 1.0rem;
    color: #fff;
    transition: 0.3s ease;
    width: 100%;
}

.input-container input:focus {
    outline: none;
    border-bottom: 2px solid #2C74FF;
}

.input-container label {
    position: absolute;
    top: 20px;
    color: rgb(255, 255, 255, 0.6);
    pointer-events: none;
    transition: 0.3s ease;
}

.input-container input:focus ~ label,
.input-container input:valid ~ label {
    top: 5px;
    font-size: 0.8rem;
    color: #2C74FF;
}

.input-container::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 2px;
    background-color: #2C74FF;
    transition: width 0.4s ease;
}

/* INPUTS - ARQUIVOS FIM */

#add-metas hr{
    margin: 20px 0;
    opacity: 20%;
}

.add{
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
    color: rgb(255, 255, 255, 0.8);
}

.add a{
    color: rgb(255, 255, 255, 0.5);
}

/*FOOTER*/

#navegacao {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

#navegacao ul {
    display: flex;
    gap: 23px;
    list-style: none;
}

#navegacao li {
    background-color: #3266D7;
    border-radius: 50px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#navegacao i {
    color: #FFFFFF;
    font-size: 42px;
}

.sla hr {
    max-width: 80%;
    height: 6px;
    background-color: #3266D7;
    border: none;
    border-radius: 20px;
    margin: 0 auto;
}

.sla p {
    text-align: center;
    color: #3266D7;
    font-size: 20px;
    padding-top: 30px;
}

footer {
    padding: 100px 0;
}