* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

span {
    color: #3266D7;
}

body {
    font-family: Arial, sans-serif;
    background-color: #2C2C2C;
    color: #FFFFFF;
}

header {
    padding: 40px;
}

header>.interface {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

header a {
    color: #fff;
    text-decoration: none;
    display: inline-block;
    transition: .2s;
}

header nav.menu-desktop a:hover {
    color: #fff;
    transform: scale(1.05);
}

header nav ul {
    list-style-type: none;
}

header nav.menu-desktop ul li {
    display: inline-block;
    padding: 0 30px;
    font-size: 18px;
}

.btn-conta button {
    color: #FFFFFF;
    padding: 13px 65px;
    font-size: 17px;
    font-weight: 100;
    background-color: #3266D7;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    transition: .2s;
}

button:hover,
form .btn-enviar input:hover {
    box-shadow: 0px 0px 8px #3266D7;
    transform: scale(1.05);
}

.logo img {
    width: 35%;
    height: 100%;
    mix-blend-mode: lighten;
}

/*HEAFER-FIM*/

#container1 {
    max-width: 100%;
    width: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 210px;
    margin-top: 100px;
}

.txt1 h1 {
    font-size: 65px;
    padding: 50px 0;
}

.txt1 p {
    font-size: 20px;
    opacity: 70%;
    padding-bottom: 80px;
}

.button1 {
    text-align: center;
}

.button1 button {
    border: none;
    border-radius: 12px;
    margin-left: 30px;
    padding: 15px 100px;
    font-size: 17px;
    cursor: pointer;
    transition: 0.3s;
}

.btn-esquerda {
    background-color: #3266D7;
    color: white;
}

.btn-direita {
    background-color: #FFFFFF;
    color: #3266D7;
    font-size: 20px;
    border: 2px solid #3266D7;
    /* opcional pra dar mais destaque */
}

.img1 {
    width: 24%;
    height: 390px;
    background-color: #FFFFFF;
    border-radius: 20px;
    margin-top: 40px;
}

.divisor {
    width: 85%;
    margin: 100px auto;
    opacity: 10%;
}

#sec2 {
    max-width: 100%;
    width: 88%;
    margin: 80px auto;
    /* antes: 0 auto */
}

.txt2 {
    margin-left: 50px;
    margin-bottom: 40px;
}

.txt2 h1 {
    font-size: 60px;
    padding: 30px 0;
}

.txt2 p {
    font-size: 18px;
    opacity: 65%;
    letter-spacing: 0, 5px;
    padding: 40px 0;
}

/*CARROSSEL*/

.carrossel-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    max-width: calc(420px * 3 + 20px * 2);
    /* 3 cards + 2 gaps */
    margin: 0 auto;
}

/* Área que segura os cards */
.destaques {
    display: flex;
    gap: 20px;
    overflow: hidden;
    scroll-behavior: smooth;
    width: calc(420px * 3 + 20px * 2);
}

/* Estilo dos cards de destaque */
.play-destaque {
    background-color: #FFFFFF;
    width: 100%;
    min-width: 420px;
    height: 300px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    flex-shrink: 0;
    cursor: pointer;
}

.img-play {
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    width: 100%;
    height: 245px;
    background-color: #ccc;
    /* opcional para visual */
}

.txt-play {
    background-color: #6F6F6F;
    width: 100%;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.txt-play p {
    margin-left: 30px;
}

.estrelas {
    background-color: #FFFFFF;
    width: 100px;
    height: 23px;
    margin-right: 30px;
}

/*CARROSSEL - FIM*/

.play-destaque {
    background-color: #FFFFFF;
    width: 420px;
    min-width: 420px;
    height: 300px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    flex-shrink: 0;
}

.img-play {
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    width: 100%;
    height: 245px;
}

.txt-play {
    background-color: #6F6F6F;
    width: 100%;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.txt-play p {
    margin-left: 30px;
}

.estrelas {
    background-color: #FFFFFF;
    width: 100px;
    height: 23px;
    margin-right: 30px;
}

/*CARROSSEL - FIM*/


/*SEARCH BAR*/

.search-container {
    width: 100%;
}

.input-wrapper {
    position: relative;
    width: 100%;
}

.search-input {
    width: 100%;
    padding-right: 40px;
    padding-left: 20px;
    height: 60px;
    font-size: 16px;
    border: 1px solid rgb(255, 255, 255, 0.05);
    background-color: #2C2C2C;
    border-radius: 20px;
    box-shadow: 4px 4px 4px rgb(0, 0, 0, 0.2);
    color: rgb(255, 255, 255, 0.5);
}

.input-wrapper i {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    color: rgb(255, 255, 255, 0.5);
}

.search-input:focus {
    outline: none;
    border: 1px solid rgba(255, 255, 255, 0.2);
    background-color: #2C2C2C;
    color: rgba(255, 255, 255, 0.7);
}

/*SEARCH BAR - FIM*/

/*RANGE INPUT*/

.range-container {
    position: relative;
    width: 100%;
    margin: 0 auto;
  }
  
  input[type="range"] {
    width: 100%;
    margin: 0;
    appearance: none;
    background-color: rgb(255, 255, 255, 0.5);
    height: 1px;
    border-radius: 10px;
  }
  
  input[type="range"]::-webkit-slider-thumb{
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #3266D7;
  }
  
  #rangeValue {
    position: absolute;
    top: 40px; /* fica embaixo da bolinha */
    transform: translateX(-50%);
    color: rgb(255, 255, 255, 0.8);
    padding: 2px 6px;
    border-radius: 4px;
    font-size: 14px;
    white-space: nowrap;
    pointer-events: none;
  }

/*RANGE INPUT*/

#titulo-tds{
    padding: 100px 180px;
    font-size: 64px;
}

#tds-playlists {
    max-width: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 50px;
}

#filtro{
    min-width: 17%;
    width: 32%;
    height: 100%;
    border-radius: 10px;
    padding: 80px;
    box-shadow: 2px 4px 10px rgb(0, 0, 0, 0.2);
}

#filtro hr{
    margin: 80px 0;
    opacity: 2.5%;
}

#filtro h4{
    margin-bottom: 20px;
    font-size: 20px;
}

.container-p{
    width: 100%;
}

.button-p{
    display: flex;
    gap: 10px;
    justify-content: center;
}

.button-p button{
    border: 1px solid rgb(255, 255, 255, 0.05);
    border-radius: 30px;
    background-color: #2C2C2C;
    color: rgb(255, 255, 255, 0.5);
    width: 150px;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    box-shadow: 4px 4px 4px rgb(0, 0, 0, 0.2);
}

.button-p button:hover{
    background-color: rgb(255, 255, 255, 0.02);
}

#container3 {
    width: 50%;
}

.playlists-metas {
    width: 100%;
    height: 300px;
    background-color: rgba(255, 255, 255, 0.03);
    display: flex;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    margin-bottom: 20px;
    cursor: pointer;
    transition: .2s;
}

.playlists-metas:hover{
    transform: scale(1.01);
    box-shadow: 1px 1px 30px rgb(255, 255, 255, 0.1);
}

.img-metas {
    width: 60%;
    height: 300px;
    background-color: #FFFFFF;
}

.detalhes-metas {
    padding: 40px;
}

.txt-metas h4 {
    font-size: 22px;
}

.txt-metas hr {
    margin: 30px 0;
    opacity: 30%;
}

.txt-metas p {
    opacity: 60%;
}

.perfil-metas img {
    background-color: #FFFFFF;
    width: 25px;
    height: 25px;
    border-radius: 100%;
}

.perfil {
    display: flex;
    align-items: center;
    gap: 17px;
}

.perfil-metas {
    display: flex;
    justify-content: space-between;
    padding: 30px 0;
    margin-top: 10px;
}

/*FOOTER*/

#navegacao {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

#navegacao ul {
    display: flex;
    gap: 23px;
    list-style: none;
}

#navegacao li {
    background-color: #3266D7;
    border-radius: 50px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#navegacao i {
    color: #FFFFFF;
    font-size: 42px;
}

.sla hr {
    max-width: 80%;
    height: 6px;
    background-color: #3266D7;
    border: none;
    border-radius: 20px;
    margin: 0 auto;
}

.sla p {
    text-align: center;
    color: #3266D7;
    font-size: 20px;
    padding-top: 30px;
}

footer {
    padding: 100px 0;
}